<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Лазер Графикс</title>
	<link rel="stylesheet" href="CSS/StyleContacts.css" type="text/css">
	<link rel="stylesheet" href="CSS/StyleHeader.css" type="text/css">
	<link rel="stylesheet" href="CSS/StyleFooter.css" type="text/css"> 
 

</head>
	
<body>
	<header id="main__header"> 
		<a href="main.html"><img src="CSS/resourses/LOGO.png" alt="LOGO"></a>
		<div class="src">
			<form>
				<input type="text" placeholder="Поиск...">
	  		</form>
		</div>
		<nav>
			<a href="about.html">О нас</a>
			<a href="categories.html">Категории</a>
			<a href="contacts.html">Контакты</a>
			<a href="korzinka.html">Корзина</a>
			<div class="lc"><a href="#">Личный кабинет</a></div>
		</nav>
	</header>
    
    <main> 
        <div class="contact__inner">
			<div class="contact__owerlay">
				<div class="owerlay__inner">
					<h2>Свяжитесь с Лазер Графикс!</h2>
					<div class="owerlay__columns">
						<div class="ow__column">
							<h2>По почте</h2>
							<a href="#">Gmail</a>
							<a href="#">Mail</a>
							<a href="#">Yandex</a>
							<h2>Через мессенджеры</h2>
							<a href="#">Viber</a>
							<a href="#">Telegramm</a>
							<a href="#">Whatsapp</a>
							<h2>По номеру</h2>
							<a href="#">+7(000)-000-00-00</a>
							<h2>А также наши социальные сети</h2>
							<a href="#">Telegramm</a>
							<a href="#">VK</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<footer>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
		</footer>
		<script src="JS/script.js"></script>
    </main>
</body>