<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Лазер Графикс</title>
	<link rel="stylesheet" href="CSS/StyleCategory.css" type="text/css"> 
	<link rel="stylesheet" href="CSS/StyleHeader.css" type="text/css"> 
	<link rel="stylesheet" href="CSS/StyleFooter.css" type="text/css"> 

</head>
	
<body>
	<header class="scrolled"> 
		<a href="main.html"><img src="CSS/resourses/LOGO.png" alt="LOGO"></a>
		<div class="src">
			<form>
				<input type="text" placeholder="Поиск...">
	  		</form>
		</div>
		<nav>
			<a href="about.html">О нас</a>
			<a href="categories.html">Категории</a>
			<a href="contacts.html">Контакты</a>
			<a href="#">Корзина</a>
			<div class="lc"><a href="#">Личный кабинет</a></div>
		</nav>
	</header>

    <main>
        <div class="main__container2">
			<div class="plate_row_kostil">
            	<a href="tovari(kruglie).html" class="plate">
					<img src="CSS/resourses/pechati/menti.png" alt="Круглые печати">
					<div class="plate_text">
						<h2>Гербовые (ГОСТ)</h2>
						<p style="padding-right: 15px;">Гербовые печати, созданные <br>по ГОСТ из лучших <br> материалов исключительно <br>для Вашего учереждения</p>
					</div>
				</a>

            	<a href="ipAndOoo.html" class="plate">
					<img src="CSS/resourses/pechati/oooAndIp.png" alt="Прямоугольные печати">
					<div class="plate_text">
						<h2>Для ИП и ООО</h2>
						<p style="padding-right: 15px;">Печати для ИП и ООО,<br>  возможно добавление защиты (микротекста) и/или картинки на Вашу печать</p>
					
					</div>
				</a>
				
			</div>

		

			<div class="footer2">
				<div class="Column">
					<h3>Lorem</h3>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
				</div>
				<div class="Column">
					<h3>Lorem</h3>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
				</div>
				<div class="Column">
					<h3>Lorem</h3>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
				</div>
				<div class="Column">
					<h3>Lorem</h3>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
					<a href="#">Lorem ipsum</a>
				</div>
			</div>
        </div>
    </main>

</body>