* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    min-height: 92%;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
}

/*Products*/

.main__container {
    padding: 5.5% 0px 0px 0px;
}

.main__container2 {
    padding: 18% 0px 15% 0px;
    height: 100%;
}

.plate_row_kostil {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.plate_row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.plate {
    max-width: 400px;
    max-height: 399px;
    overflow: hidden;
    margin: 15px 15px 15px 15px;
    background-color: #fff;
}

.plate img {
    height: 400px;
    width: 400px;
    transition: all 0.3s ease;
}

.plate_text {
    display: flex;
    flex-direction: row;
}

.plate_text2 {
    display: flex;
    flex-direction: row;
}

.plate_text h2 {
    display: flex;
    position: relative;
    background-size: cover;
    background-color: #000;
    color: #fff;
    padding: 5px 35px 5px 5px;
    font-size: cover;
    margin: -25% 0px 0px 5px;
    height: 40px;
    max-height: 180px;
    max-width: 180px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.plate_text2 h2 {
    display: flex;
    position: relative;
    background-size: cover;
    background-color: #000;
    color: #fff;
    padding: 5px 30px 70px 5px;
    font-size: cover;
    margin: -40% 0px 0px 5px;
    height: 40px;
    max-height: 180px;
    max-width: 180px;
    transition: all 0.3s ease;
}

.plate_text2 p {
    position: relative;
    max-width: 200px;
    right: -4%;
    visibility: hidden;
    font-size: 12px;
    transition: all .3s ease-in-out;
    color: #fff;
    background-color: #97020E;
}

.plate_text p {
    padding: 10px;
    position: relative;
    max-width: 195px;
    right: -4%;
    visibility: hidden;
    font-size: 12px;
    transition: all .3s ease-in-out;
    color: #fff;
    background-color: #97020E;
}

.plate:hover img {
    transform: scale(0.5);
    margin-top: -10%;
    position: relative;
}

.plate:hover .plate_text p {
    float: right;
    z-index: 2;
    position: relative;
    right: -3%;
    margin-top: -25%;
    max-width: 195px;
    background-color: #97020E;
    visibility: visible;
    display: flex;
}

.plate:hover .plate_text2 p {
    float: right;
    z-index: 2;
    position: relative;
    right: -3%;
    margin-top: -25%;
    max-width: 195px;
    visibility: visible;
    display: flex;
    background-color: #97020E;
    padding: 10px;
}

.plate:hover .plate_text h2 {
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

.plate:hover .plate_text2 h2 {
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

.plate:hover {
    background-color: #fff;
}