<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Лазер Графикс</title>
	<link rel="stylesheet" href="CSS/StyleHeader.css" type="text/css"> 
	<link rel="stylesheet" href="CSS/StyleFooter.css" type="text/css"> 
	<link rel="stylesheet" href="CSS/StyleMain.css" type="text/css"> 

</head>
	
<body>
	<header id="main__header"> 
		<div class="frst_line">
			<a href="main.html"><img src="CSS/resourses/LOGO.png" alt="LOGO"></a>
			<div class="src">
				<form>
					<input type="text" placeholder="Поиск...">
	  			</form>
			</div>
		</div>
		<nav>
			<a href="about.html">О нас</a>
			<a href="categories.html">Категории</a>
			<a href="contacts.html">Контакты</a>
			<a href="korzinka.html">Корзина</a>
			<div class="lc"><a href="#">Личный кабинет</a></div>
		</nav>
	</header>

    <main>
        <div class="Lenin" style="background-attachment: fixed;">
            <div class="prikol">
                <div class="Takoy_molodoy__text">
                    <div class="LasGr">
						<h1>
                       		ЛАЗЕР <br> ГРАФИКС
                		</h1>
                    </div>
					<div class="opisanie">
						<p>
                    	    Мы предоставляем феноменальнешее качество 
							наших прекрасных товаров, созданных с использованием
							усовершенствованнейших технологий и невероятнейшей
							педантичности к нашему делу. <br> Хотите заказать что-то у нас? 
							Переходите в 
							<a href="categories.html">категории.</a>
						</p>
					</div>
                </div>
            </div>
        </div>
		<div class="Jiv">
				<div class="bebe" >
					<h2>Lorem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						Repellat, earum consectetur? Accusamus iste accusantium beatae
						cumque ut, consequuntur incidunt omnis, architecto laborum nisi 
						adipisci enim quos nulla quia repellat possimus!</p>
				</div>
				<div class="plitrow ">
					<div class="plito4ka ">
						<h3>Lorem</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Nostrum vitae reprehenderit pariatur temporibus ipsam quis 
							quo laboriosam suscipit ullam quidem labore, distinctio 
							commodi impedit repellat sapiente dolore, dolor odio officiis.</p>
					</div>
					<div class="plito4ka ">
						<h3>Lorem</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Nostrum vitae reprehenderit pariatur temporibus ipsam quis 
							quo laboriosam suscipit ullam quidem labore, distinctio 
							commodi impedit repellat sapiente dolore, dolor odio officiis.</p>
					</div>
					<div class="plito4ka ">
						<h3>Lorem</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
							Nostrum vitae reprehenderit pariatur temporibus ipsam quis 
							quo laboriosam suscipit ullam quidem labore, distinctio 
							commodi impedit repellat sapiente dolore, dolor odio officiis.</p>
					</div>
				</div>
		</div>

		<div class="mi_tut">
			<div class="mi_tut__text">
				<h2>Lorem ipsum</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, commodi earum tempora alias officia dolorum rem esse hic recusandae a. Beatae accusantium ea architecto esse numquam sequi dolorum vel voluptates.</p>
			</div>

			<div class="mi_tut__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3218.8467192721937!2d39.717671789776624!3d47.28079290555556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1685898993239!5m2!1sru!2sru" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>

		<footer>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
		</footer>
		<script src="JS/headerScript.js"></script>
    </main>

</body>