<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Лазер Графикс</title>
	<link rel="stylesheet" href="CSS/StyleAbout.css" type="text/css">
	<link rel="stylesheet" href="CSS/StyleHeader.css" type="text/css">
	<link rel="stylesheet" href="CSS/StyleFooter.css" type="text/css"> 

</head>
	
<body>
	<header id="main__header"> 
		<a href="main.html"><img src="CSS/resourses/LOGO.png" alt="LOGO"></a>
		<div class="src">
			<form>
				<input type="text" placeholder="Поиск...">
	  		</form>
		</div>
		<nav>
			<a href="about.html">О нас</a>
			<a href="categories.html">Категории</a>
			<a href="contacts.html">Контакты</a>
			<a href="korzinka.html">Корзина</a>
			<div class="lc"><a href="#">Личный кабинет</a></div>
		</nav>
	</header>

    <main>
        <div class="about__inner">
            <div class="about__owerlay">
                <div class="about__text">
                    <h2>О компании</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ab fugiat numquam velit aspernatur dolorum quidem nisi perspiciatis consequatur laudantium, obcaecati voluptatibus consequuntur quam in culpa repellat quis animi natus. lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatibus, fugit perspiciatis, illo voluptates debitis unde, similique sed aspernatur quos dignissimos provident ducimus placeat. Rem possimus numquam aut soluta officia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ab fugiat numquam velit aspernatur dolorum quidem nisi perspiciatis consequatur laudantium, obcaecati voluptatibus consequuntur quam in culpa repellat quis animi natus. lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatibus, fugit perspiciatis, illo voluptates debitis unde, similique sed aspernatur quos dignissimos provident ducimus placeat. Rem possimus numquam aut soluta officia?</p>
                </div>
                <div class="about__statistic">
                    <div class="statistic__column">
                        <h2 class="barabulka">220</h2>
                        <p>Чего-то там нами крутейше и классно и вообще супер нами сделано вот.</p>
                    </div>
                    <div class="statistic__column">
                        <h2 class="barabulka">228</h2>
                        <p>Какой-то херни у нас в наличии и активно используется.</p>
                    </div>
                    <div class="statistic__column">
                        <h2 class="barabulka">237</h2>
                        <p>Анекдотов в час рассказывается нашим гендиректором.</p>
                    </div>
                    <div class="statistic__column">
                        <h2 class="barabulka">402</h2>
                        <p>Сотрудника были успешно обмануты на деньги (но мы самая честная компания).</p>
                    </div>
                </div>
            </div>
        </div> 
        <footer>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
		</footer>
        <script src="JS/script.js"></script>
    </main>
   
</body>
</html>