<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Лазер Графикс</title>
	<link rel="stylesheet" href="CSS/StyleProductPage.css" type="text/css">
	<link rel="stylesheet" href="CSS/StyleHeader.css" type="text/css">
	<link rel="stylesheet" href="CSS/StyleFooter.css" type="text/css">
	<style>
		#drop_zone {
			width: 74%;
			border: 2px dashed #97020E;
			border-radius: 5px;
			background: white;
			padding: 50px;
			margin: 20px 0px 20px 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Arial;
			color: #888;
		}

		#drop_zone.hover {
			border-color: #0087F7;
			color: #0087F7;
		}

		progress {
			width: 100%;
		}

		img {
			width: 100%;
		}
	</style>

</head>
	
<body>
	<header class="scrolled"> 
		<a href="main.html"><img src="CSS/resourses/LOGO.png" alt="LOGO"></a>
		<div class="src">
			<form>
				<input type="text" placeholder="Поиск...">
	  		</form>
		</div>
		<nav>
			<a href="about.html">О нас</a>
			<a href="categories.html">Категории</a>
			<a href="contacts.html">Контакты</a>
			<a href="#">Корзина</a>
			<div class="lc"><a href="#">Личный кабинет</a></div>
		</nav>
	</header>
    <main>
        <div class="container">
			<img src="CSS/resourses/plombirator.jpg" alt="gerbi" style="margin-left: 3.9%;">
			<div class="nazvanie">
				<h3>Круглый пломбир</h3>
				<h4>Металлическая</h4>
			</div>

			<div class="harakteristiki">
				<div class="sindzi_4moshnik" style="margin-left: 20px;">
					<p>Ø42-45мм</p>
				</div>
				<div class="sindzi_4moshnik">
					<p>Инструмент</p>
				</div>
			</div>

			<div class="about_product">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis architecto sed ut fuga culpa
					soluta quidem corrupti, iusto illo voluptates, accusantium dolorem nostrum. Vitae laudantium quis
					neque officiis eveniet ullam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
					doloribus nam labore veritatis ut rerum obcaecati, iusto sint amet animi, natus laboriosam dicta
					voluptates aperiam id consectetur, repellendus autem a.</p>
				<br>
			</div>
		</div>

			<div class="itemQuality" style="margin-left: 31.3%; margin-top: -5%;">
				<button id="minus">-</button>
				<h3 id="quality">1</h3>
				<button id="plus">+</button>
				<h3 id="price">650.00р</h3>
			</div>
            <div class="interactivePartWrapper">
                <div class="orderBtns">
                    <button id="addToBasket">Добавить в корзину</button>
                    <button id="orderNow">Заказать сейчас</button>
                </div>
            </div>

		<div class="footer2">

			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>
            
			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>

			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>

			<div class="Column">
				<h3>Lorem</h3>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
				<a href="#">Lorem ipsum</a>
			</div>

		</div>

	</main>

	<script src="JS/productScript.js"></script>

</body>